* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Iosevka Nerd Font; */
    font-family: Terminus;
    font-size: 13px;
    border: 4px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.9);
    color: #ebdbb2;
    border: 1px solid #a89984;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

tooltip {
    background-color: rgba(40, 40, 40, 1);
    ;
    border: 1px solid #ebdbb2;
    border-radius: 0;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: transparent;
}

#workspaces button {
    padding: 2px 1px;
    background-color: transparent;
    color: #ebdbb2;
    margin: 0 0px;
    border: transparent;
}

#workspaces button.visible.hosting-monitor {
    color: #ebdbb2;
    background-color: #495d59
}

#workspaces button.empty {
    color: #665c54;
}

#workspaces button.visible {
    color: #ebdbb2;
    /*background: #924a4a; */
    background: #6e5050
}

#workspaces button.urgent {
    color: #ebdbb2;
    background: #761411;
}

#workspaces button:hover {
    color: #ebdbb2;
    background: #665c54;
}


#workspaces {
    margin: 1 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 1;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 1;
}

#clock {
    color: #ebdbb2;
    padding: 0 6px;
}

#battery {
    background-color: transparent;
    color: #ebdbb2;
}

#battery.charging,
#battery.plugged {
    color: #ebdbb2;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: transparent;
    color: #BF616A;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 6px;
}

#memory {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 6px;
}


#backlight {
    background-color: transparent;
    color: #ebdbb2;
}

#network {
    background-color: transparent;
    color: #ebdbb2;
}

#network.disconnected {
    background-color: transparent;
    color: #ebdbb2;
}

#pulseaudio {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 6px;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ebdbb2;
}

#mpris {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 6px;
}

#temperature {
    color: #ebdbb2;
    padding: 0 6px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: #d5c4a1;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    background-color: #81A1C1;
}

#idle_inhibitor {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 6px;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #ebdbb2;
}

#language {
    background: transparent;
    color: #ebdbb2;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #ebdbb2;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#custom-weather {
    color: #ebdbb2;
    padding: 0 6px;
    margin: 0 0px;
    margin-top: 1px;
}

#custom-todoist {
    color: #ebdbb2;
    padding: 0 6px;
}

#custom-windowstate {
    color: #ebdbb2;
    background-color: rgba(73, 93, 89, 1);
    padding: 0 8px;
    border: 1px solid #a89984;
}

#custom-spotify {
    padding: 0 6px;
}

#window {
    margin: 0 2px;
    padding-right: 230px;
}

#custom-pacman {
    margin: 0 0px;
    padding: 0 6px;
}

#custom-pacman.pending-updates {
    margin: 0 0px;
    padding: 0 6px;
}

#custom-windowstate_1 {
    color: #ebdbb2;
    background-color: rgba(73, 93, 89, 1);
    padding: 0 8px;
    border: 1px solid #a89984;
}

#custom-windowstate_0 {
    color: #ebdbb2;
    background-color: rgba(73, 93, 89, 1);
    padding: 0 8px;
    border: 1px solid #a89984;
}

#custom-colorpicker {
    color: #ebdbb2;
    padding: 0 6px;
}

#custom-notification {
    color: #ebdbb2;
    padding: 0 6px;
}